
/* shop now CTA styling */
#shop-now-carousel, #shop-now-carousel .carousel-inner, #shop-now-carousel .carousel-item{
    height: 100%;
}
#shop-now-carousel img{
    width: 100%; 
    height: 100%; 
    object-fit: contain;
}
.carousel-control-next, .carousel-control-prev{
    height: 3em;
}
.shop-now-CTA{
    padding: 0.5em;
    text-decoration: none;
    background-color: rgba(211, 211, 211, 0.5);
    color: black;
    position: absolute;
    bottom:0;
    right: 0;
    border-bottom-right-radius: 5px;
}

/* logo styling */
.logo{
    height: 100%;
    width: 4em;
    align-self: center;
}
.logo img{
    height: 100%;
    width: 100%;
}

/* dropown styling */
.dropdown-menu{
   left: -20px;
}
.dropdown .btn-secondary.dropdown-toggle{
    background:  transparent;
    color: black;
    border: none;
}
.dropdown .btn-secondary.dropdown-toggle:focus{
    outline: none;
    box-shadow: none;
    color: #f68b1e;
}
.list-group-item {
    border: none;
    padding: 0.4em;
    font-size: 0.85em;
}
.list-group-item:hover, .header-band .categories-link:hover{
    color: #f68b1e;
}
.call-help-CTA{
    height: 50%;
    margin-bottom: 1em;
}
.call-help-CTA ul{
    padding: 1em;
    height: 100%;
    width: 100%;
    display:grid;
    grid-template-rows: 32.5% 31.5% 31.5%;
    row-gap: 1.5%;
    font-size: 1em;
    font-weight: 700;
}
.call-help-CTA ul li{
    display: grid;
    grid-template-columns: 17.5% 80%;
    column-gap: 2.5%;
}
.call-help-CTA ul li i{
    font-size: 1.2em;
    margin-top: 0.25em;
    color: #f68b1e;
}
.call-help-CTA ul p{
    font-size: 0.8em;
    font-weight: initial;
}
.call-help-CTA ul  .list-group-item:hover{
    color: black;
}
.call-CTA{
    height: 45%;
    width: 100%;
    padding: 1em;
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1em;
    font-weight: 400;
    
}
.call-CTA p:nth-child(2){
    font-weight: 700;
}
.categories-list, .call-CTA, .call-help-CTA, .shop-now-carousel-div{
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    height: 25em;

}
.shop-now-carousel-div{
    position: relative;
}
.categories-list i{
    margin-right: 0.5em;
}
.CTA .col-2, .CTA .col-8{
    height: 25em;

}
.CTA .col-2 .card{
    height: 47.5%;
}
.categories-list li{
    padding: 0.25em;
}
.product-cards{
    padding: 1em;
}
.product-cards .header-band{
    padding: 0.5em;
    padding-left: 2.5%;
    width: 100%;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: lightblue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.header-band .categories-link{
    width:fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1em;
    text-decoration: none;
    color: black;
}
.header-band .categories-link:hover{
    color: #f68b1e;
}
.header-band i{
    margin-top: 0.25em;
    margin-left: 0.5em;
}

/* product cards styling */
.product-cards .carousel-inner{
    width: 100%;
    height:16em ;
}
.product-cards .carousel-item, .product-cards .carousel-item .row{
    width: 100%;
    height: 95%;
}
.carousel-item {
    transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.product-cards .card{
    border: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-cards .card img{
    width: 90%;
    height: 70%;
    object-fit: contain;
}
.product-cards .card .single-product-details{
    height: 30%;
    padding-bottom: 0.5em;
}
.product-cards .card p:nth-child(1){
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
}
.product-cards .card p:nth-child(2){
    margin-top: 0rem;
    margin-bottom: 0.25rem;
}
.product-cards .carousel-control-next-icon, .product-cards .carousel-control-prev-icon{
    margin-bottom: 2em;
    background-color: lightgray;
    border-radius: 50%;

}
.product-cards .carousel-control-prev-icon{
    padding-left: 0;
}
.product-cards .carousel-control-prev, .product-cards .carousel-control-next{
    height:fit-content;
    top: 130px;
}
.carousel-indicators li {
    border-radius: 50%; 
    width: 10px; 
    height: 10px;
    margin: 0 4px;
    cursor: pointer;
}

/* download prompt styling */
.download-prompt h5{
    font-size: 0.8em;
}
.download-prompt{
    display: grid;
    grid-template-columns: 20% 75%;
    column-gap: 5%;
    margin-bottom: 1.5em;
    color: white;
}
.download-prompt-btns{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5%;
}
.download-prompt-btns .btn{
    display: grid;
    grid-template-columns: 30% 70%;
    font-size: 0.8em;
    border: 1px solid white;
    text-align: left;
    color: white;
}
.download-prompt-btns .btn i{
    font-size:2.25em;
}
.main-container{
    max-width: 90%;
    margin-top: 10em;;
}
.single-product-card{
    height: 10em
}
.single-product-details{
    width: 95%;
}
.single-product-details p {
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
  }

  @media (max-width: 1200px) {
    #home-CTA-Col2{
    display: none;
    }
  }
  @media (max-width: 1000px) {
    #home-CTA-Col2{
    display: none;
    }
    .single-product-details p {
       font-size: 0.9em;
      }
  }
  @media (max-width: 800px) {
    .single-product-details p {
       font-size: 0.8em;
      }
  }
  @media (max-width: 600px) {
    .single-product-details p {
       font-size: 0.35em;
      }
  }
  