/* product stying */
.single-product-card{
    height: 75%
}
.single-product-card .product-images{
    height: 100%;
    display: grid;
    grid-template-rows: 75% 20%;
    row-gap: 5%;
}
.single-product-card .product-images .focused-img, .single-product-card .product-images .focused-img img{
    height: 100%;
    width: 100%;
}
.single-product-card .product-images .all-images img{
    height: 4em;
    width: 4em;
}
.product-details{
    padding: 2em;
}
.product-details .btn, .total-card .btn, .cart-btn{
    background-color: rgba(246, 139, 30, 0.9);
    color: white;
    width: 100%;
    border-radius: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 35%;
}
.product-details-lines{
    width: 80%;
}
.product-details-lines p{
    width: 100%;
}
.cart-btn{
    background-color: rgba(246, 139, 30, 0.9);
    color: white;
    font-size: 0.7em;
    width: 100%;
    margin-bottom: 1em;
    display: none;
}

.single-product-card:hover .cart-btn {
    display: inline-block; 
}


/* dropdown styling */
.dropdown .btn-secondary.dropdown-toggle{
    background:  transparent;
    color: black;
    border: none;
}
.dropdown .btn-secondary.dropdown-toggle:focus{
    outline: none;
    box-shadow: none;
    color: #f68b1e;
}
